@using System.Security.Claims
@{
    ViewData["Title"] = "Đổi mật khẩu";
}
@inject IHttpContextAccessor httpContextAccessor
@model ChangePasswordViewModel

<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h2>Đổi mật khẩu</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="down-contact">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="sidebar-item contact-form">
                                <div class="sidebar-heading">
                                    <h2>Đăng nhập</h2>
                                </div>
                                <div class="content">
                                    <form asp-action="ChangePasswordPortalSubmit" method="post">
                                        @{
                                            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                            {
                                                var messages = Model.ErrorMessage.Split("\r\n");
                                                <ul>
                                                    @foreach (var message in messages)
                                                    {
                                                        if (!string.IsNullOrEmpty(message))
                                                        {
                                                            <li class="text-danger mb-1">@message</li>
                                                        }
                                                    }
                                                </ul>
                                            }
                                        }
                                        <div class="row">
                                            <input type="hidden" asp-for="UserName" placeholder="Tài khoản" >
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input asp-for="OldPassword" type="password" placeholder="Mật khẩu cũ" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input asp-for="NewPassword" type="password" placeholder="Mật khẩu mới" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input asp-for="ConfirmPassword" type="password" placeholder="Xác nhận mật khẩu" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12 mt-3">
                                                <button type="submit" class="btn w-100 btn-color input-label">Xác nhận</button>
                                            </div>
                                            <div class="col-md-6 col-sm-12 mt-3">
                                                @{
                                                    var userName = @httpContextAccessor.HttpContext?.User?.FindFirst(ClaimTypes.Name)?.Value;
                                                    <a class="btn w-100 btn-outline-color input-label" asp-action="DetailPortal" asp-controller="User" asp-route-userName="@userName">Thoát</a>
                                                }
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>