@{
    ViewData["Title"] = "Quên mật khẩu";
}

@model ForgotPasswordViewModel

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h2>Khôi phục mật khẩu</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="down-contact">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="sidebar-item contact-form">
                                <div class="sidebar-heading">
                                    <h2>Khôi phục mật khẩu</h2>
                                </div>
                                <div class="content">
                                    <form id="contact" action="" method="post">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input asp-for="Email" placeholder="Email" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12 mt-3">
                                                <button class="btn w-100 btn-color input-label">Khôi phục</button>
                                            </div>
                                            <div class="col-md-6 col-sm-12 mt-3">
                                                <a asp-action="RegisterPortal" class="btn w-100 btn-outline-color input-label">Đăng nhập</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


