@using Net_6.Logic.Queries.Interface
@using Net_6.Logic.Shared.Models
@inject IAuthorQueries authorQueries
@inject IUserQueries userQueries
@{
    ViewData["Title"] = "Admin - Cấp lại mật khẩu - Cafe Dev Code";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model ResetPasswordViewModel
<div class="container-fluid px-4">
    <h1 class="mt-4">
        <span class="card-title">Cấp lại mật khẩu</span>
    </h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a aasp-action="Index">Người dùng</a></li>
        <li class="breadcrumb-item active">Cấp lại mật khẩu</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">Cấp lại mật khẩu</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-2">
                        <input type="hidden" asp-for="ResetUserName"/>
                        <label class="form-label" style="font-weight: bold;">Mật khẩu mới:</label>
                        <input class="form-control" type="email" asp-for="NewPassword">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6 col-md-2">
                    <button type="button" class="btn btn-primary w-100" onclick="onResetPassword()"><i class="fa-solid fa-floppy-disk"></i> Lưu</button>
                </div>
                <div class="col-6 col-md-2">
                    <a class="btn btn-dark w-100" asp-action="Index"><i class="fa-solid fa-xmark"></i> Thoát</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    onResetPassword = () => {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ResetPasswordConfirm")',
            data: {
                NewPassword: $('#NewPassword').val(),
                ResetUserName: $('#ResetUserName').val()
            },
            success: (res) => {
                if (res.success === true) {
                    swal({
                        title: 'Thành công',
                        text: res.message,
                        icon: 'success'
                    });
                }
                else {
                    swal({
                        title: 'Lỗi',
                        text: res.message,
                        icon: 'error'
                    })
                }
            },
            error: (error) => {

            }
        })
    }
</script>
