@using System.Security.Claims

@inject IHttpContextAccessor httpContextAccessor

<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Nội dung</div>
            <a class="nav-link" asp-action="Index" asp-controller="Post">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-circle"></i></div>
                Bài viết
            </a>
            <a class="nav-link" asp-action="Index" asp-controller="Category">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-circle"></i></div>
                Danh mục
            </a>
            <a class="nav-link" asp-action="Index" asp-controller="Tag">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-circle"></i></div>
                Thẻ
            </a>
            <a class="nav-link" asp-action="Index" asp-controller="Author">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-circle"></i></div>
                Tác giả
            </a>
            <a class="nav-link" asp-action="Index" asp-controller="FileManager">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-circle"></i></div>
                Tài nguyên
            </a>
            <div class="sb-sidenav-menu-heading">Video</div>
            <a class="nav-link" asp-action="Index" asp-controller="PlayList">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-circle"></i></div>
                Danh sách phát
            </a>
            <a class="nav-link" asp-action="Index" asp-controller="Video">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-circle"></i></div>
                Video
            </a>
            <div class="sb-sidenav-menu-heading">Hoạt động</div>
            <a class="nav-link" href="charts.html">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-circle"></i></div>
                Bình luận
            </a>
            <div class="sb-sidenav-menu-heading">Người dùng</div>
            <a class="nav-link" asp-action="Index" asp-controller="User">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-circle"></i></div>
                Danh sách
            </a>
            <a class="nav-link" asp-action="Index" asp-controller="Role">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-circle"></i></div>
                Phân quyền
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Tài khoản:</div>
        @httpContextAccessor.HttpContext?.User?.FindFirst(ClaimTypes.Name)?.Value
    </div>
</nav>
