<div class="row">
    <div class="col-md-12 col-sm-12">
        <a asp-action="GoogleLogin" asp-controller="User" class="btn w-100 btn-danger input-label"><i class="fa-brands fa-google"></i> Google</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 mt-3">
        <button class="btn w-100 btn-primary input-label"><i class="fa-brands fa-facebook-f"></i> Facebook</button>
    </div>
</div>