@using Net_6.Logic.Shared.Configs
@using Microsoft.Extensions.Options
@inject IOptions<SiteConfig> siteConfig

<footer class="py-3 fixed-bottom d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>Copyright 2022 Cafe Dev Code.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="py-1 container-fluid d-block d-md-none" style="display: block; background-color: white; border-top: solid 1px #E5AD17; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; position: fixed; bottom: 0;">
    <div class="row w-100 m-0" id="menu-footer">
        <div class="col-3 px-1">
            <div class="pt-1 d-flex justify-content-center align-items-center">
                <a href="@siteConfig.Value.HttpsUrl" class="footer-link footer-link-active">
                    <p class="text-center h3 m-0 text-dark">
                        <i class="fas fa-home"></i>
                        </p>
                    <p class="text-center m-0 text-dark" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
                        Trang chủ
                    </p>
                </a>
            </div>
        </div>
        <div class="col-3 px-1 h-100">
            <div class="pt-1 d-flex justify-content-center align-items-center flex-column">
                <p class="text-center m-0 h3 text-dark">
                    <i class="fa-solid fa-video"></i>
                </p>
                <p class="text-center m-0 text-dark" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
                    Video
                </p>
            </div>
        </div>
        <div class="col-3 px-1" data-bs-toggle="modal" data-bs-target="#function-modal">
            <div class="pt-1 d-flex justify-content-center align-items-center flex-column">
                <p class="text-center m-0 h3 text-dark">
                    <i class="fa-solid fa-bars"></i>
                </p>
                <p class="text-center m-0 text-dark" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
                    Chuyên mục
                </p>
            </div>
        </div>
        <div class="col-3 px-1" data-bs-toggle="modal" data-bs-target="#share-modal">
            <div class="pt-1 d-flex justify-content-center align-items-center flex-column">
                <div>
                    <p class="text-center m-0 h3 text-dark">
                        <i class="fa-solid fa-bell"></i>
                    </p>
                    <p class="text-center m-0 text-dark" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
                        Thông báo
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>