@using Net_6.Logic.Queries.Interface
@using Net_6.Logic.Shared.Models
@inject IAuthorQueries authorQueries
@inject IUserQueries userQueries
@{
    if (!string.IsNullOrEmpty(Model.Name))
    {
        ViewData["Title"] = $"Admin - {Model.Name} - Cafe Dev Code";
    }
    else
    {
        ViewData["Title"] = "Admin - Quản lý nhóm quyền - Cafe Dev Code";
    }
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model RoleDetailModel

<div class="container-fluid px-4">
    <h1 class="mt-4">
        @if (!string.IsNullOrEmpty(Model.Name))
        {
            <span class="card-title">@Model.Name</span>
        }
        else
        {
            <span class="card-title">Nhóm quyền</span>
        }
    </h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a aasp-action="Index">Nhóm quyền</a></li>
        <li class="breadcrumb-item active">Chi tiết</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">Thông tin chung</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" asp-for="Id"/>
                    <div class="mb-2">
                        <label class="form-label" style="font-weight: bold;">Tên nhóm quyền:</label>
                        <input class="form-control" type="email" asp-for="Name">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6 col-md-2">
                    <button type="button" class="btn btn-primary w-100" onclick="onSaveChange()"><i class="fa-solid fa-floppy-disk"></i> Lưu</button>
                </div>
                <div class="col-6 col-md-2">
                    <a class="btn btn-dark w-100" asp-action="Index"><i class="fa-solid fa-xmark"></i> Thoát</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    onSaveChange = () => {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveChange")',
            data: {
                Name: $('#Name').val(),
            },
            success: (res) => {
                if (res.success === true) {
                    swal({
                        title: 'Thành công',
                        text: res.message,
                        icon: 'success'
                    }).then(() => {
                        window.location = '@Url.Action("Detail", "Role")?Id=' + res.data.userName
                    })
                }
                else {
                    swal({
                        title: 'Lỗi',
                        text: res.message,
                        icon: 'error'
                    })
                }
            },
            error: (error) => {

            }
        })
    }
</script>
