<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading m-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Giới thiệu</h4>
                        <h2>Về Cafe Dev Code!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Banner Ends Here -->
<section class="mt-3">
    <div class="container">
        <div class="row">
            <p style="font-size: 18px;">Chào độc giả, bao gồm những người bạn, những người mình quen biết hoặc chưa từng quen biết. Trước tiên, cho mình gửi lời cảm ơn chân thành nhất đến tất cả những độc giả ghé thăm “ngôi nhà” tinh thần này của mình.</p>
            <h2 class="mt-2">Câu chuyện về tôi</h2>
            <p class="mt-2" style="font-size: 18px;">Mình là Dương Nguyễn Tấn Hòa là tác giả của blog Cafe Dev Code và chủ kênh youtube Cafe Dev Code. Công việc hiện tại của mình là một lập trình viên ngoài ra với đam mê viết lách mình còn kiêm thêm vài công việc như content writer, youtuber và nhiều thứ khác nữa</p>
            <p class="mt-2" style="font-size: 18px;">Trang blog này ra đời là hành trình học hỏi và tích lũy kinh nghiệm của mình trong công việc, học tập và trong cuộc sống. Như bạn biết đó kiến thức, triết lý là hai thứ vô cùng quan trọng trong hành trang trên đường phát triển bản thân. Nên với việc duy trì và ngày càng cải thiện hình ảnh lẫn chất lượng blog, mình hi vọng sẽ ngày càng hoàn thiện hơn bản thân mình.</p>
            <h2 class="mt-2">Những mục tiêu hướng đến</h2>
            <p class="mt-2" style="font-size: 18px;">Như đã đề cập ở trên blog "Cafe Dev Code" là nơi mình chia sẽ những kiến thức, chém gió và bàn luận về các trải nghiệm của mình trong cuộc sống, tuy là nói vậy thôi nhưng nó cũng cần có những mục tiêu cụ thể</p>
            <ul style="list-style: circle" class="ms-4 mt-2">
                <li style="color: #f48840;"><a style="color: #f48840; font-size: 18px;" href="#">Đọc và dịch sách để không phải là "loser"</a></li>
                <li style="color: #f48840;"><a style="color: #f48840; font-size: 18px;" href="#">Phát triển blog để phát triển bản thân</a></li>
                <li style="color: #f48840;"><a style="color: #f48840; font-size: 18px;" href="#">Trao đi "yêu thương" để nhận lại "yêu thương" để rồi lan tỏa yêu thương đến mọi người (chia sẻ và học hỏi)</a></li>
                <li style="color: #f48840;"><a style="color: #f48840; font-size: 18px;" href="#">Kiếm chút "xiền" đi cà phê vì sở thích của mình là cà phê</a></li>
            </ul>
        </div>
        <div class="row">
            <h2 class="mt-2">Tôi là ai?</h2>
            <p class="mt-2 mb-2" style="font-size: 18px;">Vào đề đã lâu, bây giờ vào phần chính nhé, đó là vài câu giới thiệu về bản thân mình</p>
            <div class="col-md-6 d-flex justify-content-center">
                <img style="width: 250px; height: 250px; border-radius: 50%; border: solid 1px #f48840;" src="~/image/avatar-1.jpg" />
            </div>
            <div class="col-md-6">
                <h4>Những sự thật về tôi</h4>
                <ul style="list-style: circle" class="ms-4 mt-2">
                    <li style="color: #f48840;"><p style="font-size: 18px;">Họ và tên: Dương Nguyễn Tấn Hòa</p></li>
                    <li style="color: #f48840;"><p style="font-size: 18px;">Năm sinh: 1997</p></li>
                    <li style="color: #f48840;"><p style="font-size: 18px;">Tốt nghiệp Đại học Bách Khoa Thành Phố Hồ Minh năm 2019 chuyên ngành Điện tử - Viễn thông</p></li>
                    <li style="color: #f48840;"><p style="font-size: 18px;">Quên quán: huyện Bến Lức, tỉnh Long An. Thường trú: TP.Hồ Chí Minh</p></li>
                    <li style="color: #f48840;"><p style="font-size: 18px;">Tính cách: hướng nội, trầm lắng</p></li>
                    <li style="color: #f48840;"><p style="font-size: 18px;">Sở thích: Nghe nhạc, đọc sách và "nghiện" cà phê</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
